@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.btn {
    @apply shadow-md py-3 px-6 rounded-md transition duration-300;
}

.btn-purple {
    @apply bg-bookmark-greypurple text-white;
}

.btn-white {
    @apply bg-bookmark-white;
}
