<template>
  <div>
    <nav class="flex items-center justify-between flex-wra p-3 shadow-lg fixed top-0 w-full bg-white">
      <div class="flex items-center flex-shrink-0 mr-6">
        <a href="" class="text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>
        <span
          class="font-semibold pl-24 tracking-tight sm:text-center md:text-center lg:text-center text-black"
          >LOCA CAR RENTAL</span
        >
      </div>
    </nav>
    <div class="p-4 max-w-sm bg-white sm:p-8 pt-20 mx-auto md:max-w-2xl">
      <h3 class="mb-4 text-xl font-bold text-gray-500">Booking Sumary</h3>

      <div
        class="rounded-lg border mt-5 border-gray-200 shadow-md sm:p-6 lg:p-8"
      >
        <div class="flex items-center space-x-4 px-5 p-5">
          <div class="flex-1 min-w-0">
            <p class="text-lg text-gray-900">Toyota Camry</p>
            <p class="text-sm text-gray-900">Economy car with:</p>
            <p class="text-sm text-gray-900">4 Seats / 4 Doors</p>
            <p class="text-sm text-gray-900">Price for 10 days</p>
            <h3 class="text-lg font-bold">LAK 5,000,000</h3>
          </div>
          <div class="flex-shrink-0">
            <img
              class="w-36 h-20"
              src="../assets/img/car1.png"
              alt="Neil image"
            />
          </div>
        </div>
        <div class="flex items-center space-x-4 px-5">
          <ul>
            <li class="text-sm font-bold pb-2 text-gray-500">Pickup</li>
            <li class="text-sm text-gray-900">12/02/2022</li>
            <li class="text-sm text-gray-900">10:00 AM</li>
            <li class="text-sm text-gray-900">Wattay International Airport</li>
          </ul>
          <ul>
            <li class="text-sm font-bold pb-2 text-gray-900">Drop-off</li>
            <li class="text-sm text-gray-900">22/02/2022</li>
            <li class="text-sm text-gray-900">10:00 AM</li>
            <li class="text-sm text-gray-900">Wattay International Airport</li>
          </ul>
        </div>
        <div class=" pt-10 px-5 pb-5">
          <label for="" class=" font-bold">Total Rental Price</label>
          <p
            class="focus:ring-4 focus:ring-blue-200 uppercase mt-2 font-medium text-lg border-2 rounded-lg border-rose-500 py-2 inline-flex text-red-500 justify-center w-full text-center"
          >
            LAK 500,000
          </p>
        </div>
      </div>

      <button
        type="button"
        class="text-white space-x-4 bg-black mt-28 focus:ring-4 focus:ring-blue-200 uppercase font-medium rounded-3xl text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
      >
        next step
      </button>
    </div>
  </div>
</template>
