<template>
  <div>
    <nav class="flex items-center justify-between flex-wra p-3 shadow-lg fixed top-0 w-full bg-white">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="/yourdetail" class="text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>
        <span
          class="font-semibold pl-24 tracking-tight sm:text-center md:text-center lg:text-center text-black"
          >LOCA CAR RENTAL</span
        >
      </div>
    </nav>
    <div class="p-4 mt-3 bg-white sm:p-8 mx-auto md:max-w-2xl">
      <div class="flex pt-20">
        <h3 class="mb-4 text-lg font-bold text-gray-500">
          Your booking is confirmed
        </h3>
        <p class="px-2 pt-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class=" h-6 w-6 text-green-700 pb-1"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"
            />
          </svg>
        </p>
      </div>
      <div class="items-baseline text-gray-900 mt-5">
        <div class="relative mt-1">
          <div
            class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-7 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5"
            placeholder="Booking Number: 1LK055AN15846YZ"
          />
        </div>
      </div>
      <div class="items-baseline text-gray-900 mt-3">
        <div class="relative mt-1">
          <div
            class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
              />
            </svg>
          </div>
          <input
            type="text"
            id="email-adress-icon"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Booking Date: 12/02/2022 10:16AM"
          />
        </div>
      </div>
      <div
        class="rounded-lg border mt-5 border-gray-200 shadow-md sm:p-6 lg:p-8"
      >
        <div class="flex items-center space-x-4 px-5 p-5">
          <div class="flex-1 min-w-0">
            <p class="text-lg text-gray-900">Toyota Camry</p>
            <p class="text-sm text-gray-900">Economy car with:</p>
            <p class="text-sm text-gray-900">4 Seats / 4 Doors</p>
            <p class="text-sm text-gray-900">Price for 10 days</p>
            <h3 class="text-xl font-bold">LAK 5,000,000</h3>
          </div>
          <div class="flex-shrink-0">
            <img
              class="w-36 h-20"
              src="../assets/img/car1.png"
              alt="Neil image"
            />
          </div>
        </div>
        <div class="flex items-center space-x-4 px-5">
          <ul>
            <li class="text-sm text-gray-900">• Air Conditioning</li>
            <li class="text-sm text-gray-900">• Automatic</li>
          </ul>
          <ul>
            <li class="text-sm text-gray-900">• In Terminal</li>
            <li class="text-sm text-gray-900">• Like for Like</li>
          </ul>
        </div>
        <p class="text-sm text-gray-900 space-x-4 px-5">Mileage: Unlimited</p>
        <h4 class="space-x-4 px-5 pt-3 font-bold">Included</h4>
        <div class="items-center space-x-4 px-5">
          <ul>
            <li class="text-sm text-gray-900">• Amendments</li>
            <li class="text-sm text-gray-900">
              • Collision Damage Waiver (CDW)
            </li>
            <li class="text-sm text-gray-900">• 3rd Party Liability (TPL)</li>
            <li class="text-sm text-gray-900">• Theft Protection (TP)</li>
            <li class="text-sm text-gray-900">• Local Taxes</li>
          </ul>
        </div>
        <h4 class="space-x-4 px-5 py-2 font-bold">Pickup Location</h4>
        <div class="items-center space-x-4 px-5">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15180.260562408257!2d102.63310405!3d17.9757061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sla!4v1644552617289!5m2!1sen!2sla"
            class="w-full h-full"
            style="border: 0"
            allowfullscreen
            loading="lazy"
          ></iframe>
        </div>
        <p class="space-x-4 px-5 pb-10 py-2">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores
        </p>
        <div class="pt-3 pb-5 px-5">
          <label for="" class=" font-bold">Total Rental Price</label>
          <p
            class="focus:ring-4 focus:ring-blue-200 uppercase mt-2 font-medium text-lg border-2 rounded-lg border-red-500 py-2 inline-flex text-red-500 justify-center w-full text-center"
          >
            LAK 500,000
          </p>
        </div>
      </div>

      <a href="/"
        type="button"
        class="text-white bg-black mt-28 focus:ring-4 focus:ring-blue-200 uppercase font-medium rounded-3xl text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
      >
        back to home
      </a>
    </div>
  </div>
</template>
