<template>
  <div>
    <nav class="flex items-center justify-between flex-wra p-3 shadow-lg fixed top-0 w-full bg-white">
      <div class="flex items-center flex-shrink-0 justify-center text-white mr-6">
        <a href="" class="text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>
        <span
          class="
            font-semibold
            pl-24
            text-center
            items-center 
            justify-center
            sm:text-center
            md:text-center
            lg:text-center
            text-black
          "
          >LOCA CAR RENTAL</span
        >
      </div>
    </nav>

    <div class="justify-between items-center mb-4 p-4 pt-20 mx-auto md:max-w-2xl">
      <h3 class="text-lg font-bold leading-none mt-3">Select Your Option</h3>
    </div>

    <div class="justify-center items-center px-4 mx-auto md:max-w-2xl">
      <div class="p-4 rounded-lg border shadow-xl">
        <div class="flex space-x-7 justify-center items-center">
          <a href="/rental">
            <img
              src="../assets/img/img.png"
              class="rounded-lg w-36 h-32 md:w-32 md:h-32 lg:w-48 lg:h-48"
              alt=""
            />
            <p class="text-center font-bold uppercase pt-5">
              Rental <br />
              With Driver
            </p>
          </a>
          <a href="/rental">
            <img
              src="../assets/img/img1.png"
              class="rounded-lg w-36 h-32 md:w-32 md:h-32 lg:w-48 lg:h-48"
              alt=""
            />
            <p class="text-center font-bold uppercase pt-5">
              Rental <br />
              Without Driver
            </p>
          </a>
        </div>
      </div>
    </div>

    <div class="justify-center">
      <div class="p-4">
        <div class="flex justify-between items-center mb-4 mx-auto md:max-w-2xl">
          <h3 class="text-xl font-bold leading-none mt-10">Your Bookings</h3>
        </div>
        <div class="flow-root shadow-lg p-3 justify-between items-center max-w-md mx-auto md:max-w-2xl">
          <ul role="list" class="divide-y divide-gray-200">
            <a href="/cardetail">
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <img
                      class="w-16 h-10"
                      src="../assets/img/car1.png"
                      alt="Neil image"
                    />
                  </div>
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate">
                      Toyota Camry
                    </p>
                    <p class="text-sm text-gray-900 truncate">
                      Vientiane, Laos
                    </p>
                    <p class="text-sm text-gray-900 truncate">
                      Fri, Feb 4, 2022 - Mon, Feb 7, 2022
                    </p>
                  </div>
                  <div
                    class="
                      inline-flex
                      items-center
                      text-base
                      font-semibold
                      text-gray-900
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      />
                    </svg>
                  </div>
                </div>
              </li>
            </a>
            <a href="/cardetail">
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <img
                      class="w-16 h-10"
                      src="../assets/img/car2.png"
                      alt="Neil image"
                    />
                  </div>
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate">
                      Toyota Camry
                    </p>
                    <p class="text-sm text-gray-900 truncate">
                      Vientiane, Laos
                    </p>
                    <p class="text-sm text-gray-900 truncate">
                      Fri, Feb 4, 2022 - Mon, Feb 7, 2022
                    </p>
                  </div>
                  <div
                    class="
                      inline-flex
                      items-center
                      text-base
                      font-semibold
                      text-gray-900
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      />
                    </svg>
                  </div>
                </div>
              </li>
            </a>
            <a href="/cardetail">
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <img
                      class="w-16 h-10"
                      src="../assets/img/car3.png"
                      alt="Neil image"
                    />
                  </div>
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate">
                      Toyota Camry
                    </p>
                    <p class="text-sm text-gray-900 truncate">
                      Vientiane, Laos
                    </p>
                    <p class="text-sm text-gray-900 truncate">
                      Fri, Feb 4, 2022 - Mon, Feb 7, 2022
                    </p>
                  </div>
                  <div
                    class="
                      inline-flex
                      items-center
                      text-base
                      font-semibold
                      text-gray-900
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      />
                    </svg>
                  </div>
                </div>
              </li>
            </a>
            <a href="/cardetail">
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <img
                      class="w-16 h-10"
                      src="../assets/img/car4.png"
                      alt="Neil image"
                    />
                  </div>
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate">
                      Toyota Camry
                    </p>
                    <p class="text-sm text-gray-900 truncate">
                      Vientiane, Laos
                    </p>
                    <p class="text-sm text-gray-900 truncate">
                      Fri, Feb 4, 2022 - Mon, Feb 7, 2022
                    </p>
                  </div>
                  <div
                    class="
                      inline-flex
                      items-center
                      text-base
                      font-semibold
                      text-gray-900
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      />
                    </svg>
                  </div>
                </div>
              </li>
            </a>
          </ul>
          <a href="#" class="text-sm font-medium text-black-600 uppercase">
            Show More
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
