<template>
  <div>
    <nav class="flex items-center justify-between flex-wra p-3 shadow-lg fixed top-0 w-full bg-white">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="/" class="text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>
        <span
          class="
            font-semibold
            pl-24
            tracking-tight
            sm:text-center
            md:text-center
            lg:text-center
            text-black
          "
          >LOCA CAR RENTAL</span
        >
      </div>
    </nav>
    <div class="p-4 mt-5 items-center justify-center bg-white mx-auto md:max-w-2xl">
      <h3 class="mb-4 text-xl font-bold text-gray-500 dark:text-gray-400 pt-20">
        Rental Car (With Driver)
      </h3>

      <div
        class="
          p-4
          bg-white
          rounded-lg
          border border-gray-200
          shadow-md
          sm:p-6
          lg:p-8
        "
      >
        <form class="space-y-6" action="#">
          <div class=" text-gray-900">
            <label class="block mb-2 text-sm text-gray-900"
              >City</label
            >
            <select
              class="
                bg-gray-50
                border border-gray-300
                text-gray-900 text-sm
                rounded-lg
                block
                w-full
                p-2.5
              "
            >
              <option>Vientiane, Laos</option>
              <option>Luagprabang</option>
              <option>Pakse</option>
              <option>Champasack</option>
            </select>
          </div>
          <div class="items-baseline text-gray-900">
            <label
              class="block mb-2 text-sm text-gray-900 dark:text-gray-400"
              >Pick-up Point</label
            >
            <select
              class="
                bg-gray-50
                border border-gray-300
                text-gray-900 text-sm
                rounded-lg
                block
                w-full
                p-2.5
              "
            >
              <option>Wattay International Airport</option>
              <option>Patuxay</option>
              <option>Thatluang</option>
              <option>dongdok</option>
            </select>
          </div>
          <div class="items-baseline text-gray-900 border">
            <label for="" class="text-sm">Start Date / Time</label><br />
            <div class="flex max-w-lg">
              <div class="relative">
                <div
                  class="
                    flex
                    absolute
                    inset-y-0
                    left-0
                    items-center
                    pl-3
                    pointer-events-none
                  "
                >
                  <svg
                    class="w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <input
                  type="date"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900
                    sm:text-sm
                    rounded-lg
                    block
                    w-full 
                    pl-10
                    p-2.5
                  "
                  placeholder="Fri, Feb 4, 2022"
                />
              </div>
              <div class="relative">
                <input
                  type="text"
                  class="
                    bg-gray-50
                      border border-gray-300
                    text-gray-900
                    sm:text-sm
                    rounded-lg
                    block
                    w-28
                    p-2.5
                    datepicker-input
                  "
                  placeholder="10:00 AM"
                />
              </div>
            </div>
          </div>
          <div class="items-baseline text-gray-900">
            <label for="" class="text-sm">End Date / Time</label><br />
            <div class="flex">
              <div class="relative">
                <div
                  class="
                    flex
                    absolute
                    inset-y-0
                    left-0
                    items-center
                    pl-3
                    pointer-events-none
                  "
                >
                  <svg
                    class="w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <input
                  type="date"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900
                    sm:text-sm
                    rounded-lg
                    block
                    w-full
                    pl-10
                    p-2.5
                  "
                  placeholder="Fri, Feb 4, 2022"
                />
              </div>
              <div class="relative">
                <input
                  type="text"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900
                    sm:text-sm
                    rounded-lg
                    block
                    w-28
                    p-2.5
                    datepicker-input
                  "
                  placeholder="10:00 AM"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <a
        href="/searchresults"
        type="button"
        class="
          text-white
          bg-black
          mt-40
          focus:ring-4 focus:ring-blue-200
          uppercase
          font-medium
          rounded-3xl
          text-sm
          px-5
           py-3
          inline-flex
          justify-center
          w-full
          text-center
        "
      >
        search
      </a>
    </div>
  </div>
</template>

<style scoped>

</style>
