<template>
  <div>
     <nav class="flex items-center justify-between flex-wra p-3 shadow-lg fixed top-0 w-full bg-white">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="/rental" class="text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>
        <span
          class="font-semibold pl-24 tracking-tight sm:text-center md:text-center lg:text-center text-black"
          >LOCA CAR RENTAL</span
        >
      </div>
    </nav>
    <div class="p-4 mt-5 bg-white sm:p-8 mx-auto md:max-w-2xl">
      <h3 class="mb-4 text-xl font-bold text-gray-500 pt-20">Search Results</h3>
      <div class="items-baseline text-gray-900 mt-5">
        <div class="relative mt-1">
          <div
            class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full block pl-10 p-2.5"
            placeholder="Pick-up Point: Wattay International Airport"
          />
        </div>
      </div>
      <div class="items-baseline text-gray-900 mt-3">
        <div class="relative mt-1">
          <div
            class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5 "
            placeholder="Date: 12/02/2022 - 22/02/2022"
          />
        </div>
      </div>

      <div
        class="rounded-lg border mt-5 border-gray-200 shadow-md sm:p-6 lg:p-8"
      >
        <a href="/cardetail" class="p-20">
          <div class="flex items-center space-x-4 px-5">
            <div class="flex-1 min-w-0">
              <p class="text-lg text-gray-900">
                Toyota Camry <span class="text-gray-500">or similar</span>
              </p>
              <p class="text-sm text-gray-900">Economy car with:</p>
              <p class="text-sm text-gray-900">4 Seats / 4 Doors</p>
              <ul>
                <li class="text-sm text-gray-900">• Air Conditioning</li>
                <li class="text-sm text-gray-900">• Automatic</li>
                <li class="text-sm text-gray-900">• In Terminal</li>
                <li class="text-sm text-gray-900">• Like for like</li>
              </ul>
              <p class="text-sm text-gray-900">Mileage: Unlimited</p>
              <img class="w-32 h-10" src="../assets/img/image1.png" alt="" />
            </div>
            <div class="flex-shrink-0 pt-10">
              <img
                class="w-36 h-20"
                src="../assets/img/car1.png"
                alt="Neil image"
              />
              <div class="pt-10">
                <p class="text-sm text-gray-900 text-right">
                  Price for 10 days
                </p>
                <h3 class="text-xl font-bold text-right">LAK 5,000,000</h3>
                <span class="text-sm text-gray-900 text-right"
                  >(LAK 500,000 / Day)</span
                >
              </div>
            </div>
          </div>
        </a>
      </div>
      <div
        class="rounded-lg border mt-5 border-gray-200 shadow-md sm:p-6 lg:p-8"
      >
        <a href="/cardetail" class="p-20">
          <div class="flex items-center space-x-4 px-5">
            <div class="flex-1 min-w-0">
              <p class="text-lg text-gray-900">
                Toyota Camry <span class="text-gray-500">or similar</span>
              </p>
              <p class="text-sm text-gray-900">Economy car with:</p>
              <p class="text-sm text-gray-900">4 Seats / 4 Doors</p>
              <ul>
                <li class="text-sm text-gray-900">• Air Conditioning</li>
                <li class="text-sm text-gray-900">• Automatic</li>
                <li class="text-sm text-gray-900">• In Terminal</li>
                <li class="text-sm text-gray-900">• Like for like</li>
              </ul>
              <p class="text-sm text-gray-900">Mileage: Unlimited</p>
              <img class="w-32 h-10" src="../assets/img/image1.png" alt="" />
            </div>
            <div class="flex-shrink-0 pt-10">
              <img
                class="w-36 h-20"
                src="../assets/img/car2.png"
                alt="Neil image"
              />
              <div class="pt-10">
                <p class="text-sm text-gray-900 text-right">
                  Price for 10 days
                </p>
                <h3 class="text-xl text-right font-bold">LAK 5,000,000</h3>
                <span class="text-sm text-gray-900 text-right"
                  >(LAK 500,000 / Day)</span
                >
              </div>
            </div>
          </div>
        </a>
      </div>

      <div
        class="rounded-lg border mt-5 border-gray-200 shadow-md sm:p-6 lg:p-8"
      >
        <a href="/cardetail" class="p-20">
          <div class="flex items-center space-x-4 px-5">
            <div class="flex-1 min-w-0">
              <p class="text-lg text-gray-900">
                Toyota Camry <span class="text-gray-500">or similar</span>
              </p>
              <p class="text-sm text-gray-900">Economy car with:</p>
              <p class="text-sm text-gray-900">4 Seats / 4 Doors</p>
              <ul>
                <li class="text-sm text-gray-900">• Air Conditioning</li>
                <li class="text-sm text-gray-900">• Automatic</li>
                <li class="text-sm text-gray-900">• In Terminal</li>
                <li class="text-sm text-gray-900">• Like for like</li>
              </ul>
              <p class="text-sm text-gray-900">Mileage: Unlimited</p>
              <img class="w-32 h-10" src="../assets/img/image1.png" alt="" />
            </div>
            <div class="flex-shrink-0 pt-10">
              <img
                class="w-36 h-20"
                src="../assets/img/car3.png"
                alt="Neil image"
              />
              <div class="pt-10">
                <p class="text-sm text-gray-900 text-right">
                  Price for 10 days
                </p>
                <h3 class="text-xl text-right font-bold">LAK 5,000,000</h3>
                <span class="text-sm text-gray-900 text-right"
                  >(LAK 500,000 / Day)</span
                >
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>
