<template>
  <div>
    <nav class="flex items-center justify-between flex-wra p-3 shadow-lg fixed top-0 w-full bg-white">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="/searchresults" class="text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>
        <span
          class="font-semibold  pl-24 tracking-tight sm:text-center md:text-center lg:text-center text-black"
          >LOCA CAR RENTAL</span
        >
      </div>
    </nav>
    <div class="p-4 mt-5 bg-white rounded-lg sm:p-8 mx-auto md:max-w-2xl">
      <h3 class="mb-4 text-xl font-bold text-gray-500 dark:text-gray-400 pt-20">
        Your Details
      </h3>

      <div
        class="p-4 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8"
      >
        <form class="space-y-6" action="#">
          <div class="items-baseline text-gray-900">
            <label for="countries" class="block mb-2 text-sm text-gray-900"
              >Title *</label
            >
            <input
              type="text"
              name="title"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              required
            />
          </div>
          <div class="items-baseline text-gray-900">
            <label for="countries" class="block mb-2 text-sm text-gray-900"
              >First Name *</label
            >
            <input
              type="text"
              name="firstname"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              required
            />
          </div>
          <div class="items-baseline text-gray-900">
            <label for="countries" class="block mb-2 text-sm text-gray-900"
              >Last Name *</label
            >
            <input
              type="text"
              name="lastname"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
              required
            />
          </div>
          <div class="items-baseline text-gray-900">
            <label for="countries" class="block mb-2 text-sm text-gray-900"
              >Email Address *</label
            >
            <input
              type="email"
              name="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
              required
            />
          </div>
          <div class="items-baseline text-gray-900">
            <label for="countries" class="block mb-2 text-sm text-gray-900"
              >Phone Number *</label
            >
            <input
              type="number"
              name="phone"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
              required
            />
          </div>
          <div class="flex items-center space-x-4">
            <ul>
              <li class="text-lg font-bold pb-2 text-gray-500">Pickup</li>
              <li class="text-sm text-gray-900">12/02/2022</li>
              <li class="text-sm text-gray-900">10:00 AM</li>
              <li class="text-sm text-gray-900">
                Wattay International Airport
              </li>
            </ul>
            <ul>
              <li class="text-lg font-bold pb-2 text-gray-500">Drop-off</li>
              <li class="text-sm text-gray-900">22/02/2022</li>
              <li class="text-sm text-gray-900">10:00 AM</li>
              <li class="text-sm text-gray-900">
                Wattay International Airport
              </li>
            </ul>
          </div>
          <div class="pt-3 pb-5">
            <label for="" class=" font-bold">Total Rental Price</label>
            <p
              class="focus:ring-4 focus:ring-blue-200 uppercase mt-2 font-medium text-lg border-2 rounded-lg border-red-500 py-2 inline-flex text-red-500 justify-center w-full text-center"
            >
              LAK 500,000
            </p>
          </div>
        </form>
      </div>

      <button
        type="button"
        class="text-white bg-black mt-28 focus:ring-4 focus:ring-blue-200 uppercase font-medium rounded-3xl text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
        v-on:click="toggleModal()"
      >
        confirm Booking
      </button>

      <!-- Main modal -->
      <div
        v-if="showModal"
        class="overflow-x-hidden overflow-y-auto fixed mt-20 inset-0 z-50 outline-none focus:outline-none justify-center items-center flex mx-auto md:max-w-2xl"
      >
        <div class="relative px-4 w-full h-full md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex justify-end p-2">
              <button
                type="button"
                v-on:click="toggleModal()"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
              >
                <svg
                  class="w-5 h-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
            <form
              class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8"
              action="#"
            >
              <h3 class="text-xl text-center font-medium text-gray-900">
                Payment Methods
              </h3>
              <div>
                <label class="block mb-2 text-sm font-medium text-gray-900"
                  >Pay With Credit Card</label
                >
                <a v-on:click="toggleModalPayCard()">
                  <!-- https://buy.stripe.com/test_eVa00O6vkacxe1afYY -->
                  <img src="../assets/img/card.png" alt="" />
                </a>
              </div>
              <div class="pt-5">
                <label class="block mb-2 text-sm font-medium text-gray-900"
                  >Pay With OnePay</label
                >
                <a v-on:click="toggleModalPayBcel()">
                  <img src="../assets/img/bcel.png" alt="" />
                </a>
              </div>
              <div>
                <label class="pt-5" for="">Total Rental Price</label>
                <p
                  class="focus:ring-4 focus:ring-blue-200 uppercase mt-2 font-medium text-lg border-2 rounded-lg border-red-500 py-2 inline-flex text-red-500 justify-center w-full text-center"
                >
                  LAK 500,000
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        v-if="showModal"
        class="opacity-25 fixed inset-0 z-40 bg-black"
      ></div>

      <!-- pay card -->
      <div
        v-if="showModalPayCard"
        class="overflow-x-hidden overflow-y-auto fixed mt-20 inset-0 z-50 outline-none focus:outline-none justify-center items-center flex mx-auto md:max-w-2xl"
      >
        <div class="relative px-4 w-full h-full md:h-auto">
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex justify-end p-2">
              <button
                type="button"
                v-on:click="toggleModalPayCard()"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
              >
                <svg
                  class="w-5 h-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>

            <form
              class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8"
              action="#"
            >
              <h3 class="text-xl text-center font-medium text-gray-900">
                Pay With Credit Card
              </h3>
              <div class="items-baseline text-gray-900">
                <img src="../assets/img/card.png" alt="" />
                <label for="countries" class="block mb-2 text-sm text-gray-900"
                  >Card Number</label
                >
                <input
                  type="text"
                  v-cardformat:formatCardNumber
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
                  required
                />
              </div>
              <div class="items-baseline text-gray-900">
                <label class="block mb-2 text-sm text-gray-900"
                  >MM / YY / CVC</label
                >
                <div class=" flex space-x-2">
                      <input
                      v-cardformat:formatCardExpiry
                      type="text"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
                      required
                />
                 <input
                 v-cardformat:formatCardCVC
                  type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
                  required
                />
                </div>
              </div>
              <div class="items-baseline text-gray-900">
                <label for="countries" class="block mb-2 text-sm text-gray-900"
                  >Cardholder Name</label
                >
                <input
                  type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                  required
                />
              </div>
              <button
                type="submit"
                class="text-white bg-black mt-5 focus:ring-4 focus:ring-blue-200 uppercase font-medium rounded-3xl text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
                @click="submit"
              >
                Pay Now
              </button>
            </form>
          </div>
        </div>
      </div>
      <div
        v-if="showModalPayCard"
        class="opacity-25 fixed inset-0 z-40 bg-black"
      ></div>

      <!-- payment bcel one -->
      <div
        v-if="showModalPayBcel"
        class="overflow-x-hidden overflow-y-auto fixed mt-20 inset-0 z-50 outline-none focus:outline-none justify-center items-center flex mx-auto md:max-w-2xl"
      >
        <div class="relative px-4 w-full h-full md:h-auto">
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex justify-end p-2">
              <button
                type="button"
                v-on:click="toggleModalPayBcel()"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
              >
                <svg
                  class="w-5 h-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
            <form
              class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8"
              action="#"
            >
              <h3 class="text-xl text-center font-medium text-gray-900">
                Pay With OnePay
              </h3>
              <p class="text-sm text-center text-gray-900">
                Please top-up your wallet via OnePay
              </p>
              <div class="flex items-center space-x-4 justify-center">
                <div class="text-center pl-5">
                  <img
                    class="w-8 h-8 rounded-full"
                    src="../assets/img/icon.png"
                  />
                </div>
                <div class="flex-1 min-w-0">
                  <p
                    class="text-sm font-medium text-gray-900]"
                  >
                    OnePay
                  </p>
                  <p class="text-sm text-gray-500 truncate">
                    LAK 500,000
                  </p>
                </div>
              </div>
              <img
                class="w-full h-full px-10"
                src="../assets/img/QRcode.png"
                alt=""
              />
              <div class="items-center justify-center">
                <a href="/confirmbooking"
                  type="button"
                  class="text-white bg-black focus:ring-4 focus:ring-blue-200 uppercase font-medium rounded-3xl text-sm px-5 py-2.5 inline-flex items-center justify-center w-full text-center"
                  v-on:click="toggleModalPayBcel()"
                >
                  Pay Now
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div
        v-if="showModalPayBecl"
        class="opacity-25 fixed inset-0 z-40 bg-black"
      ></div>
    </div>
  </div>
</template>

<script>

import { StripeCheckout } from '@vue-stripe/vue-stripe';
export default {
  components:{
  StripeCheckout
  },
  data() {
    this.publishableKey = process.env.STRIPE_PUBLISHABLE_KEY;
    return {
      showModal: false,
      showModalPayCard: false,
      showModalPayBcel: false,
      loading: false,

     
      cardNumber: null,
      cardExpiry: null,
      cardCvc: null,
      
      lineItems: [
        {
          price: 'price_1KTjfvFg7b0bSpGUm3fyab6M', // The id of the one-time price you created in your Stripe dashboard
          quantity: 1,
        },
      ],
      successURL: 'http://localhost:3000/success',
      cancelURL: 'http://localhost:3000',
    };
  },

  methods: {
    toggleModal: function () {
      this.showModal = !this.showModal;
    },
    toggleModalPayCard: function () {
      this.showModalPayCard = !this.showModalPayCard;
    },
    toggleModalPayBcel: function () {
      this.showModalPayBcel = !this.showModalPayBcel;
    },
    submit () {
      // You will be redirected to Stripe's secure checkout page
      this.$refs.checkoutRef.redirectToCheckout();
    },
  },
};
</script>
